/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.logo svg {
    height: 20px;
}

.userlogo {
    height: 100px;
}

.userlogo img {
    height: 100px;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4%;
    font-size: 24px;
    font-weight: 600;
}

.sidebar svg {
    height: 30px;
}

.home svg {
    height: 40px;
    margin-left: -5px;
}

.sidebar svg * {
    fill: white;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.dashboard-logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.main-features {
    display: grid;
    gap: 20px;
}

.main-features > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.extra-features {
    display: grid;
    gap: 20px;
}

.extra-features > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
